<h2 id="bin" data-bin={{binId}}>{{binUrl}}</h2>

<ul id="responses" class="request-list">
  {{#each requests}}
    {{> request}}
  {{/each}}
</ul>

<script src="/../socket.io/socket.io.js"></script>
<script src="/../javascript/requests.js"></script>